*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    gap: 0 332px;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-nav .current {
    position: relative;
    padding: 24px 0;
}

.current {
    color: #404bbf;
}

.current::after {
    color: #404bbf;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header-logo-highlight {
    color: #2e2f42;
}

.nav-item {
    color: #404bbf;
}

.nav-link {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}

.nav-link:active {
    border-radius: 2px;
    width: 48px;
    height: 1px;
    background: #404bbf;
}

.header-address {
    display: flex;
    align-items: center;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:active,
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.hero {
    background: #2e2f42;
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office1158px.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:active {
    background-color: #404bbf;
}

.hero-button:hover {
    background-color: #4d5ae5;
}

.hero-button:focus {
    background-color: #404bbf;
}

.advantages {
    padding: 120px 0;
}

.advantages-title {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin-top: 8px;
}

.social-item {
    list-style: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.social-link:hover {
    background-color: #404bbf;
}

.social-link:focus {
    background-color: #404bbf;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-owerlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio-owerlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-owerlay-text {
    transform: translateY(0%);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-type {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    display: flex;
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-highlight {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.footer-social-item {
    list-style: none;
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
    background-color: #31d0aa;
}

.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    margin-left: 80px;
}

.footer-form-label {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    outline: none;
}

.footer-form-email::placeholder {
    color: #fff;
}

.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover {
    background-color: #404bbf;
}

.footer-form-button:focus {
    background-color: #404bbf;
}

.footer-icon {
    margin-left: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: rgb(231, 233, 252);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover {
    background-color: rgb(64, 75, 191);
    border: none;
    fill: #fff;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.button-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    margin-bottom: 4px;
    color: #8e8f99;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    font-size: 12px;
    display: block;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    padding-right: 24px;
    font-size: 16px;
    color: #000;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

.modal-input::placeholder {
    font-size: 12px;
    color: tomato;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-size: 12px;
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.input-checkbox:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-text-checkbox {
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-privacy-link {
    color: #4d5ae5;
}

.button-send-modal {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.button-send-modal:hover {
    background-color: #404bbf;
}

.button-send-modal:focus {
    background-color: #404bbf;
}

@media (min-width: 320px) and (min-resolution: 2x) {
    .hero {
        max-width: 320px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x320px.jpg);
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .container {
        min-width: 768px;
    }

    .nav-list {
        display: flex;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .burger-menu {
        display: none;
    }

    .contact-link {
        font-size: 12px;
    }

    .header-container {
        padding: 0 16px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .hero-title {
        font-size: 56px;
        margin-bottom: 36px;
    }

    .hero {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office768px.jpg);
    }

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 72px;
        column-gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px) / 2);
    }

    .advantages-subtitle {
        text-align: left;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .portfolio-list {
        justify-content: center;
        row-gap: 72px;
    }

    .footer-container {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-info {
        width: calc((100% - 24px) / 2);
        margin: 0 24px 0 0;
        margin-bottom: 72px;
    }

    .footer-subscribe {
        margin: 0;
    }

    .modal {
        width: 264px;
    }
}

@media (min-width: 768px) and (min-resolution: 2x) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x768px.jpg);
        background-size: cover;
    }
}

@media (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .header-container {
        justify-content: space-between;
    }

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office1158px.jpg);
    }

    .hero-title {
        font-size: 56px;
        margin-bottom: 48px;
    }

    .advantages {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .advantages-list {
        gap: 24px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-icon {
        display: flex;
    }

    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-item {
        width: clac((100% - 48px) / 3);
    }

    .footer {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .footer-container {
        text-align: left;
        width: 1158px;
        flex-wrap: nowrap;
    }

    .footer-info {
        margin: 0 120px 0 0;
    }

    .footer-social-list {
        justify-content: start;
    }

    .footer-subscribe {
        margin: 0 0 0 65px;
    }

    .footer-form {
        gap: 24px;
        flex-direction: row;
    }

    .modal {
        width: 408px;
    }

    .footer-form-input {
        opacity: 1;
    }

    .advantages-subtitle {
        font-size: 20px;
        font-weight: 500;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .contact-link {
        font-size: 16px;
    }

    .footer-logo {
        margin-right: 76px;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .team {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

@media (min-width: 1158px) and (min-resolution: 2x) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x1158px.jpg);
        background-size: cover;
    }
}